---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { siteConfig } from "@/config/site";
import Hero from "@/components/widgets/Hero.astro";
import Features from "@/components/widgets/Features.astro";
import devImg from "@/assets/images/dev_balanced.png";
import openSourceImg from "@/assets/images/open-source.png";
import Content2 from "@/components/widgets/Content2.astro";
const metadata = {
  title: `${siteConfig.name} — Software · Maths · Linguistics`,
  description: siteConfig.description,
  // ignoreTitleTemplate: true,
};
---

<BaseLayout {metadata}>
  <Hero
    title={`Let's talk <br class="hidden md:block" /> <span class="bg-linear-to-r from-blue-400 via-purple-400 to-pink-400 bg-clip-text text-transparent">Software · Maths · Linguistics</span>`}
    tagline="Can I help you with something? Click here."
    description={`${siteConfig.description}`}
    actions={[
      {
        text: "Read my blog",
        href: "/blog",
        variant: "secondary",
        icon: "lucide:rss",
        ariaLabel: "Go to my blog",
      },
      {
        text: "Check me out",
        href: "/cv",
        variant: "primary",
        icon: "lucide:file-user",
        ariaLabel: "See my CV",
      },
    ]}
  />
  <Features
    tagline="Features"
    title="What I do"
    subtitle="Some ways in which I can help you and your team reach your goals"
    features={[
      {
        title: "Web and Mobile apps",
        description:
          "From a simple website to a complex mobile app, I can bring your ideas to life",
        icon: "lucide:monitor-cloud",
        iconClass: "bg-blue-500/10 text-blue-400",
      },
      {
        title: "Codebase rewrite",
        description:
          "Remove legacy code and get started with up-to-date technology and best practices",
        icon: "lucide:pen-line",
        iconClass: "bg-purple-500/10 text-purple-400",
      },
      {
        title: "Mentoring",
        description:
          "Increase the productivity of your team with tailored sessions within the context of your business",
        icon: "lucide:graduation-cap",
        iconClass: "bg-pink-500/10 text-pink-400",
      },
    ]}
  />

  <Content2
    items={[
      {
        title: "Effect.ts",
        description:
          "Created by white-bearded TypeScript sorcerers to help us get rid of runtime bugs and improve reusability",
        icon: "lucide:sparkles",
        iconClass: "bg-blue-500/10 text-blue-400",
      },
      {
        title: "TanStack Suite",
        description:
          "Originally only react-query but today a full suite with the best-in-class developer experience",
        icon: "lucide:tree-palm",
        iconClass: "bg-green-500/10 text-green-400",
      },
      {
        title: "Bitcoin",
        description: "The promise of a free money in the form of code",
        icon: "lucide:bitcoin",
        iconClass: "bg-orange-500/10 text-orange-400",
      },
    ]}
    image={devImg}
    imageAlt="Development"
  >
    <Fragment>
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
        Tools and Technologies
      </h3>
      Those that I feel most excited about and have experience with
    </Fragment>
  </Content2>

  <Content2
    items={[
      {
        title: "Finance",
        description:
          "With my academic background in actuarial science, maths for insurance and finance, no term or calculation is too difficult for me",
        icon: "lucide:wallet",
        iconClass: "bg-indigo-500/10 text-indigo-400",
      },
      {
        title: "Privacy",
        description:
          "Exploring who should get what and why so that your user's data is not misused",
        icon: "lucide:hat-glasses",
        iconClass: "bg-orange-500/10 text-orange-400",
      },
      {
        title: "Data",
        description:
          "No one gets off on normalising schemas as much as I do so that you can extract, transform and load your data with ease",
        icon: "lucide:database-zap",
        iconClass: "bg-teal-500/10 text-teal-400",
      },
    ]}
    image={openSourceImg}
    imageAlt="Community and Open Source"
    isReversed={true}
  >
    <Fragment>
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
        Interests
      </h3>
      Line of business where I feel more comfortable
    </Fragment>
  </Content2>
</BaseLayout>
